@import "_variables";
@import "compass/css3";

.main-content {
  .cust-name, .cust-contact, .cust-info, .prod-info, .cust-details, .raw-mat, .buy-factors {
    @include box-div;
  }
  .raw-mat-sourcing {
    @include box-div;
    height: 350px;
  }
  .dec-mak {
    @include box-div;
    height: 200px;
    .text {
      .p {
        color: $app_lgray;
      }
    }
  }
  .sales {
    @include box-div;
    height: 230px;
  }
  .revenue {
    @include box-div;
    height: 230px;
  }
  .pocket-margins {
    @include box-div;
    height: 200px;
  }
  .waterfall {
    @include box-div;
    height: 230px;
    #wf-chart {
      width: 90%;
      height: 200px;
    }
  }
}

.sidebar-wrapper {
  height: 720px;
  overflow: overlay;
}

