@import "_variables";
@import "compass/css3";

.one-column {
  .sales-volume {
    @include box-div;
    height: 200px;
  }
  .wallet {
    @include box-div;
    height: 120px;
    position: relative;
  }
  .pocket-margins {
    @include box-div;
    height: 200px;
    position: relative;
  }
}

