<div class="span12">
  <div class="head">
    <h2>{{subpage}}</h2>
    <button class="btn-app" ng-click="sync()">Sync with Server</button>
    <div class="loading" ng-show="isSyncing">
      <img src="images/loading.gif"/><p>Sync request submitted ...</p>
    </div>
  </div>
  <ul class="sub-nav pull-right">
    <li ng-class="{'active': subpage=='Action Plan'}"><a href="#/plan/{{accountId}}/Action Plan">Action Plan</a></li>
    <li ng-class="{'active': subpage=='Customer Interaction'}"><a href="#/plan/{{accountId}}/Customer Interaction">Customer Interaction</a></li>
  </ul>
</div>