<div class="span12">
  <div class="one-column">
    <div class="head">
      <h2>Sales Overview</h2>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="sales-volume">
          <h4>Sales Volume</h4><h4 class="unit">(Unit)</h4><br/>
          <div class="sales-volume-chart" data-sales-volume-chart></div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="wallet">
          <h4>Share of Wallet</h4><h4 class="unit">(%)</h4>
          <span class="coming-soon">Coming Soon</span>
          <table class="bordered">
            <thead>
              <tr>
                <td>Jan</td>
                <td>Feb</td>
                <td>Mar</td>
                <td>Apr</td>
                <td>May</td>
                <td>Jun</td>
                <td>Jul</td>
                <td>Aug</td>
                <td>Sep</td>
                <td>Oct</td>
                <td>Nov</td>
                <td>Dec</td>
                <td>Target</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10</td>
                <td>20</td>
                <td>15</td>
                <td>12</td>
                <td>16</td>
                <td>14</td>
                <td>18</td>
                <td>12</td>
                <td>24</td>
                <td>12</td>
                <td>13</td>
                <td>21</td>
                <td class="red">90</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="pocket-margins">
          <h4>Pocket Margins</h4><h4 class="unit">(...)</h4><br/>
          <span class="coming-soon">Coming Soon</span>
          <div class="pcoket-margins-chart" data-pocket-margins-chart></div>
        </div>
      </div>
    </div>
  </div>
</div>