<div class="span12">
  <div class="head">
    <h2>{{subpage}}</h2> / 
    <a href="#/plan/{{accountId}}/Action%20Plan">Go Back</a>
  </div>
  <div class="row-fluid">
    <div class="span10">
      <div class="add-plan">
        <h4>Add Action Plan</h4>
        <form data-ng-submit="addPlan(plan)">
          <span class="label">Value Proposition</span>
          <input type="text" ng-model="plan.valueProposition" placeholder="Value Proposition" required/>
          <span class="label">Issue</span>
          <input type="text" ng-model="plan.issue" placeholder="Issue" required/>
          <input class="btn-primary" type="submit" value="Add Plan" ng-hide="showItems">
        </form>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
      <div class="add-items" ng-show="showItems">
        <h4>Add Action Items</h4>
        <form data-ng-submit="addItems(item)">
          <span class="label">Action Item</span>
          <input type="text" ng-model="item.actionItem" placeholder="Action Item" required/>
          <span class="label">Decision Maker</span>
          <input type="text" ng-model="item.decisionMaker" placeholder="Decision Maker" required/><br/>
          <span class="label">Due Date</span>
          <input type="text" ui-date ui-date-format="dd-M-yy" ng-model="item.dueDate" placeholder="Due Date" ng-required="true"/>
          <span class="label">PIC</span>
          <input type="text" ng-model="item.pic" placeholder="PIC" required/><br/>
          <span class="label">Next Step</span>
          <input type="text" ng-model="item.nextStep" placeholder="Next Step" required/>
          <span class="label">Status</span>
          <select ng-model="item.status" ng-required="true">
            <option selected="true" value="green">On Track / Completed</option>
            <option value="amber">At Risk</option>
            <option value="red">Serious Concern</option>
          </select><br/>
          <input class="btn-primary" type="submit" value="Add Item">
        </form>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10" ng-show="showItems">
      <h4>Action Items</h4>
      <table class="table items">
        <thead>
          <tr>
            <th>Action Item</th>
            <th>Decision Maker</th>
            <th>Due Date</th>
            <th>PIC</th>
            <th>Next Step</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="xactionItem in actionPlanItems">
            <td>{{xactionItem.actionItem}}</td>
            <td>{{xactionItem.decisionMaker}}</td>
            <td>{{xactionItem.dueDate}}</td>
            <td>{{xactionItem.pic}}</td>
            <td>{{xactionItem.nextStep}}</td>
            <td ng-show="xactionItem.status=='green'">On Track / Completed</td>
            <td ng-show="xactionItem.status=='amber'">At Risk</td>
            <td ng-show="xactionItem.status=='red'">Serious Concern</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10" ng-show="actionPlanItems.length > 0" class="save-cancel">
      <button class="btn-app" ng-click="savePlan()">Save Action Plan</button>
      <a href="#/plan/{{accountId}}/Action Plan" class="btn-gray">Cancel and Go Back</a>
    </div>
  </div>
</div>
