<div class="login">
  <div class="row-fluid">
    <div class="span12">
      <div class="spacer"></div>
      <div class="box">
        <div class="logo"><img src="images/logo.png"/></div>
        <div class="alert" data-ng-show="message">{{message}}</div>
        <div ng-include src="'views/partials/loading.html'"></div>
        <form name="loginForm" class="simple-form" data-ng-submit="login(user)">
          <div class="input-append">
            <input type="text" ng-model="user.username" placeholder="Username" required />
            <span class="add-on"><img src="images/uname_icon.png"/></span>
          </div>
          <div class="input-append">
            <input type="password" ng-model="user.password" placeholder="Password" required />
            <span class="add-on"><img src="images/password_icon.png"/></span>
          </div>
          <div class="input-append">
            <input type="password" name="pin" ng-model="user.pin" placeholder="Security Pin" ng-maxlength="4" ng-minlength="4" ng-pattern="/^[0-9]{4}$/" required />
            <span class="add-on"><img src="images/password_icon.png"/></span>
          </div>
          <p class="lgray">For security reasons, you will be prompted to enter PIN every 15 mins</p>
          <input class="btn-blue" type="submit" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>