<div class="page">
  <div class="row-fluid">
    <div class="span12">
      <div ng-include src="'views/partials/topbar.html'"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <div ng-include src="'views/partials/accounts/sidebar.html'"></div>
    </div>
    <div class="span10" style="padding-right: 10px;">
      <div class="row-fluid">
        <div ng-include src="'views/partials/accounts/accounts_subbar.html'"></div>
      </div>
      <div class="row-fluid">
        <div ng-include src="'views/partials/plan/navbar.html'" ng-show="subpage=='Action Plan' || subpage=='Customer Interaction'"></div>
        <div ng-include src="'views/partials/plan/action_plan.html'" ng-show="subpage=='Action Plan'"></div>
        <div ng-include src="'views/partials/plan/customer_interaction.html'" ng-show="subpage=='Customer Interaction'"></div>
        <div ng-include src="'views/partials/plan/add_plan.html'" ng-show="subpage=='Add Plan'"></div>
        <div ng-include src="'views/partials/plan/add_interaction.html'" ng-show="subpage=='Add Interaction'"></div>
      </div>
    </div>
  </div>
</div>